[Unit]
Description=The Beaker Harness server.
After=network.target NetworkManager-wait-online.service time-sync.target systemd-readahead-done.service multi-user.target
Wants=beah-beaker-backend.service beah-fwd-backend.service
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/beah-srv
KillMode=process

[Install]
WantedBy=multi-user.target
