[Unit]
Description=The Beaker sync server for multi-host jobs
After=network.target NetworkManager-wait-online.service time-sync.target systemd-readahead-done.service multi-user.target
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/beah-fwd-backend

[Install]
WantedBy=multi-user.target
