[Unit]
Description=The Beaker backend server.
After=network.target NetworkManager-wait-online.service time-sync.target

[Service]
Type=simple
ExecStart=/usr/bin/beah-beaker-backend

[Install]
WantedBy=multi-user.target
