[Unit]
Description=The Beaker Harness server.
After=network.target NetworkManager-wait-online.service time-sync.target
Requires=beah-beaker-backend beah-fwd-backend

[Service]
Type=simple
ExecStart=/usr/bin/beah-srv
KillMode=process

[Install]
WantedBy=multi-user.target
