[Unit]
Description=The Beaker sync server for multi-host jobs
After=time-sync.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/beah-fwd-backend

[Install]
WantedBy=multi-user.target
